@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #d6d2c3;
  --text-title: #046085;
  --text-dark: #213439;
  --text-light: #6d7774;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*barra de navegacion*/
.seccion{
    padding-top: 5rem;
}
.seccion-container {
  max-width: var(--max-width);
  padding: 4rem 1rem;
  margin: auto;
}

.section__subheader {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-light);
  text-align: center;
}

.seccion-header {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--text-dark);
  text-align: center;
  line-height: 3.5rem;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #eae9d7;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
}

.logo a {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--white);
  transition: transform 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(100%);
}

.nav__links a {
  font-weight: 500;
  color: var(--text-dark);
}

.nav__links a:hover {
  color: var(--primary-color);
}

header {
  padding-top: 5rem;
  position: relative;
  isolation: isolate;
  background-color: var(--primary-color);
}

.header__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: var(--white);
  z-index: -1;
}

.header-container {
  padding-block: 2rem 0;
  display: grid;
  gap: 2rem;
}

.contenido h4 {
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
}

.contenido h1 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  color: var(--text-title);
  text-align: center;
}

.contenido h1 span {
  font-size: 5rem;
}

.contenido h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
  text-align: center;
}

.contenido p {
  margin-bottom: 2rem;
  color: var(--text-light);
  text-align: center;
}

.header__btn button {
  padding-block: 0.5rem;
  padding-inline: 1.5rem 0.5rem;
  margin-inline: auto;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: var(--white);
  background-color: #2b6b36;
  border-radius: 5rem;
  transition: 0.3s;
  cursor: pointer;
}

.header__btn button span {
  padding: 5px 7px;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

.header__btn button:hover {
  color: var(--white);
  background-color: #213e60;
}

.header__btn button:hover span {
  background-color: rgba(0, 0, 0, 0.4);
}

.header__image {
  background-color: ;
  position: relative;
  isolation: isolate;
}

.header__image img {
  max-width: 400px;
  margin-inline: auto;
}

img.header__image-bg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  max-width: 300px !important;
  z-index: -1;
}
/*barra de navegacion*/

/*servicios*/
.intro__info{
  text-align: center;
  justify-content: center;
  width: 1000px;
  margin-left: 12%;
}
.intro__grid {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
}

.intro__card {
  text-align: center;
  background-color: #ccd1cfa2;
  border-radius: 12px;

}

.intro__card div {
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
  padding: 2rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.intro__card:nth-child(1) div {
  background-image: url("intro-1-bg.png");
}

.intro__card:nth-child(2) div {
  background-image: url("intro-2-bg.png");
}

.intro__card:nth-child(3) div {
  background-image: url("intro-1-bg.png");
}

.intro__card div img {
  width: unset;
  height: 75px;
}
.intro__icon i{
  font-size: 50px;
}
.intro__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.intro__card p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.intro__card a {
  display: inline-block;
  padding: 0.5rem 2rem;
  border: 2px solid;
  border-radius: 5rem;
  transition: 0.3s;
}
/*color de botones*/
.intro__card:nth-child(1) a {
  color: #426c22;
  border-color: #426c22;
}

.intro__card:nth-child(1) a:hover {
  color: var(--white);
  background-color: #296434e8;
}

.intro__card:nth-child(2) a {
  color: #426c22;
  border-color: #426c22;
}

.intro__card:nth-child(2) a:hover {
  color: var(--white);
  background-color: #296434e8;
}

.intro__card:nth-child(3) a {
  color: #426c22;
  border-color: #426c22;
}

.intro__card:nth-child(3) a:hover {
  color: var(--white);
  background-color: #296434e8;
}
/*color de botones*/

/*servicios*/

/*saber mas*/
.about__container{
  background-color: #d6d2c3;
}
.about__row {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  overflow: hidden;
  
}

.about__row:nth-child(3) {
  margin-top: 4rem;
}

.about__image {
  flex: 1;
  max-width: 400px;
  margin-inline: auto;
}

.about__content {
  flex: 1;
  text-align: center;
}

.about__content span {
  margin-inline: auto;
  margin-bottom: 1rem;
  width: 80px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.about__content span img {
  max-width: 40px;
}

.about__row:nth-child(3) .about__content span {
  background-color: #fdf2d9;
}

.about__row:nth-child(4) .about__content span {
  background-color: #e8f7fe;
}

.about__row:nth-child(5) .about__content span {
  background-color: #fbebf1;
}

.about__content h4 {
  max-width: 450px;
  margin-inline: auto;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-dark);
  line-height: 3rem;
}

.about__content p {
  max-width: 450px;
  margin-inline: auto;
  color: var(--text-light);
}
/*saber mas*/

/*info*/

/*info*/
 
@media (width > 540px) {
  .contenido h1 {
    font-size: 4.5rem;
    line-height: 5rem;
  }

  .contenido h1 span {
    font-size: 6rem;
  }

  .intro__grid {
    grid-template-columns: repeat(2, 1fr);
  }

}
nav {
  border-bottom: 1px solid #213439;
  
}
@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
    
  }

  .nav__logo a {
    font-size: 1.5rem;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    transform: none;
  }

  header {
    padding-top: 0;
  }

  .header-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .contenido {
    grid-area: 1/2/2/3;
  }

  .contenido :is(h4, .header__btn button) {
    margin-inline-start: unset;
  }

  .contenido :is(h1, h2) {
    text-align: left;
  }

  .contenido p {
    max-width: 400px;
    text-align: left;
  }

  .header__image img {
    max-width: 500px;
  }

  .intro__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .about__row {
    flex-direction: row;
    align-items: center;
  }

  .about__row:nth-child(4) {
    flex-direction: row-reverse;
  }

  .about__image {
    max-width: unset;
    margin-inline: auto;
  }

  .about__content {
    text-align: left;
  }

}

.customers h2{
    text-align: center;
    padding: 4rem;
}
.customers-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin-top: 2 rem;
}
.customers-container .box{
    padding: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    text-align: center;
}
.customers-container .box p{
    font-size: 0.938rem;
}
.customers-container{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
}
.customers-container .box img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.customers-container .box:hover{
    background-color:#f0eef5 ;
    transition: 0.2s all linear;
}